nav {
    font-family: var(--flappy-bird-font), monospace;

    input:focus-visible {
        // outline-offset: unset !important;
    }
}

.navbar-grid {
    display: grid !important;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}
