#select-players-component {
    background-color: var(--bs-secondary);
    font-family: var(--flappy-bird-font);
    overflow-y: auto;
    overflow-x: hidden;

    .text-stroke {
        --text-stroke-width: 2px;
        --text-stroke-width-negative: calc(var(--text-stroke-width) * -1);

        text-shadow:
            var(--text-stroke-width-negative) var(--text-stroke-width-negative) 0 var(--bs-dark),
            0 var(--text-stroke-width-negative) 0 var(--bs-dark),
            var(--text-stroke-width) var(--text-stroke-width-negative) 0 var(--bs-dark),
            var(--text-stroke-width) 0 0 var(--bs-dark),
            var(--text-stroke-width) var(--text-stroke-width) 0 var(--bs-dark),
            0 var(--text-stroke-width) 0 var(--bs-dark),
            var(--text-stroke-width-negative) var(--text-stroke-width) 0 var(--bs-dark),
            var(--text-stroke-width-negative) 0 0 var(--bs-dark);
    }

    .header {
        font-size: 3rem;
        font-weight: 700;
        color: var(--bs-tertiary);
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .accordion {
        // overflow-y: auto;
    }

    .accordion-button::after {
        display: none;
    }

    .accordion-button {
        box-shadow: unset !important;
        background-color: transparent !important;
    }

    .form-check-input {
        cursor: pointer;
    }

    .enable-bird-switch .form-check-input:checked {
        background-position: right center;
        background-color: unset !important;
    }

    .form-row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hidden-layer-separator {
        border-bottom: 1px solid var(--bs-secondary);
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
